.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  min-height: 70vh;
}

.pasteez-editor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.exportableFrame {
  /* background: linear-gradient(90deg, #d0f4ff 0%, #2b8389 100%); */
  /* background: #ff2525; */
  padding: 50px;
}

.frame-header {
  border-radius: 10px 10px 0px 0px;
  background: rgba(0, 0, 0, 0.65);
  height: 30px;
  display: flex;
  padding-top: 8px;
}

.frame-header-buttons {
  display: flex;
  align-items: center;
  width: 4em;
  padding-left: 20px;
}

.frame-header-circle {
  margin: 0px 10px 0px 0px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.red-circle {
  background-color: #ff9191;
}
.yellow-circle {
  background-color: #fdff71;
}
.green-circle {
  background-color: #9eff71;
}

.frame-header-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.frame-header-title input {
  font-size: 15px;
  font-family: monospace;
  text-align: center;
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#code-editor {
  border: none;
  outline: none;
}

.code-editor-wrapper {
  font-family: "Fira code", "Fira Mono", monospace;
  font-size: 15px;
  min-width: 42em;
  max-width: 60em;
  background: rgba(0, 0, 0, 0.65);
  overflow-wrap: break-word;
  border-radius: 0px 0px 10px 10px;
  letter-spacing: 0.5px;
}

.frame-footer-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.editor-frame {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 2px 10px 50px;
}

.settings-btn {
  justify-content: space-between;
  display: flex;
}

.features-btn {
  display: flex;
}

.Dropdown-root {
  margin-right: 10px;
}
.btn,
.Dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  font-family: monospace;
  font-size: 13px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 5px;
  width: 10em;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.export-btn {
  color: #ff9191;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-btn {
  color: #fdff71;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #33b4ff;
  margin-right: 10px;
  height: 100%;
}

.Dropdown-menu {
  width: 13em;
  box-shadow: rgba(0, 0, 0, 0.6) 2px 10px 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  margin: 5px 0;
  bottom: 100%;
  left: -15%;
  top: auto;
  -webkit-animation: fadein 0.3s ease;
  animation: fadein 0.3s ease;
  transition: 0.3s ease-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Dropdown-menu::-webkit-scrollbar {
  display: none;
}

.Dropdown-option {
  color: rgba(255, 255, 255, 0.8);
}

/* Color Picker CSS */

.pcr-app .pcr-interaction .pcr-save {
  background: #ff3759;
}

.pickr .pcr-button {
  height: 2em;
  width: 2em;
  outline: none;
  border: none;
}

.pickr .pcr-button::after {
  border-radius: 50%;
  outline: none;
  border: none;
}

.pickr .pcr-button::before {
  border-radius: 50%;
  border: none;
  outline: none;
}

.pickr .pcr-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
/* END of Color Picker CSS */

/* Home Page */

.Typewriter__wrapper {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3em;
}

.Typewriter__cursor {
  font-size: 3em;
  letter-spacing: -10px;
}

.arrow-button {
  margin-top: 2em;
  scale: 1.6;
}

/* End of Home Page */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -20px;
  }

  .main-container {
    align-items: unset;
  }

  .code-editor-wrapper {
    min-width: unset;
    max-width: unset;
  }

  .frame-footer {
    display: flex;
    justify-content: center;
  }

  .frame-footer-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .settings-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .btn {
    height: 40px;
    width: 20.5em;
  }

  header {
    font-size: 1.5em;
  }

  header .navlinks {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

/* Profile Page Start */

.profile-header {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 400px;
  width: 75%;
  margin: 0px 10%;
  /* border: 1px solid black; */
  border-radius: 15px;
}

.profile-header-upper,
.profile-header-lower {
  height: 50%;
  width: calc(100% - 6em);
  display: flex;
  padding: 0 3em;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid white;
  border-radius: 15px 15px 0 0;
}

.contents-left {
  display: flex;
  height: 100%;
  width: 20%;
  /* border: 1px solid white; */
}

.profile-image-container {
  position: absolute;
  left: 3em;
  top: 50%;
  display: flex;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-image-container img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 2.5px solid white;
}

.contents-right {
  display: flex;
  height: 100%;
  width: 80%;
  /* border: 1px solid white; */
}
.contents-right ul {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.contents-right ul li {
  align-self: flex-end;
  padding-bottom: 1em;
}
.contents-right ul li:nth-child(1) {
  font-size: 1.8em;
  font-weight: bold;
}
.contents-right ul li:nth-child(2) {
  padding-bottom: 1.5em;
  font-size: 1.2em;
}

.profile-header-lower {
  border-radius: 0 0 15px 15px;
  border-bottom: 0px;
  border-top: 1px solid white;
}

.contents-right p {
  text-align: justify;
}

/* Profile Page End */
